<div class="card task_list">
  <div class="card-body">
    <h5 class="card-title">{{taskList.title}} <a href="#" class="pull-right" (click)="raiseOnDeleteClick($event, taskList)">x</a></h5>
    <div class="task_list_unchecked_tasks">
      <div class="checkbox" *ngFor="let task of taskList.tasks; index as taskIndex">
        <label>
          <input type="checkbox" (change)="raiseOnTaskChecked($event, taskList, taskIndex)"> {{task}}
        </label>
      </div>
    </div>
    <div class="task_list_checked_tasks">
      <div class="checkbox" *ngFor="let task of taskList.finishedTasks">
        <label>
          <input type="checkbox" checked (change)="raiseOnTaskUnChecked($event, taskList, taskIndex)"> {{task}}
        </label>
      </div>
    </div>
  </div>
</div>